version: "3.9"

services:
  juice-shop:
    image: bkimminich/juice-shop
    container_name: juice-shop
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=development
      - LOG_LEVEL=debug
    user: "0:0"
    volumes:
      - /home/sbykov/detection-sandbox/logs/juice-shop:/juice-shop/logs
    restart: unless-stopped
